.page-link {
  background: black;
  color: #fff !important;
}

a.active.page-link {
  background: rgb(185, 47, 4) !important;
  border-color: transparent !important;
}

.gallery {
  margin: 3px;
  padding: 4px;
  border: 1px solid #ccc;
  float: left;
  /* width: 180px; */
}

.navbar {
  background: no-repeat url('../image/background.jpg');
  border-bottom: 1px solid #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar a {
  color: white;
  text-shadow: 3px 3px 7px white;
}

#logout {
  color: black;
}

.image-background {
  position: relative;
  background: url('../image/snake.jpg');
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

footer {
  background: no-repeat url('../image/background.jpg');
}
